*{
    margin: 0;
    padding: 0;
}

.flex{
display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.list-none{
    list-style: none;
}
.text-color{
    color: #95928f;
}
.text-orange{
    color: #f6b001;
}